<html>
    <head>
        <title>vPhrase Inventory Management System </title>
    </head>
    
   {% load static %}
<link rel="stylesheet" href="{% static '/css/style.css '%}">
<link rel="stylesheet" href="{% static '/css/bootstrap.min.css'%}"


<body>


<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'display_mobiles' %}">
    <img src="{% static 'logo.png' %}" width="200" height="60" class="d-inline-block align-top" alt="">
    vPhrase Mobiles Pvt. Ltd. , Mumbai
  </a>
</nav>





<div class ="container">

    {% block body %}

    {% endblock %}

</body>

</html>